* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

main {
  padding-top: 100px;
  background-color: rgba(0, 2, 95, 0.144);
}

nav.navigation {
  width: 100%;
  height: 7vh;
  background-color: rgb(0, 2, 95);
  color: rgb(223, 223, 223);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 1px 1px 1px rgb(0, 2, 95);
}

nav.navigation div.logo {
  position: absolute;
  height: 130px;
  width: 130px;
  background-image: url('../images/network.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 3px;
  left: 3px;
  background-color: #fff;
  border: 2px solid rgb(0, 2, 95);
}

nav.navigation a.table {
  text-align: center;
  line-height: 7vh;
  background-color: rgb(0, 2, 95);
  border: 0 solid rgb(0, 2, 95);
  color: rgb(223, 223, 223);
  font-size: 19px;
  font-weight: bold;
  border: 1px solid rgb(223, 223, 223);
  width: 200px;
  box-shadow: 1px 1px 1px rgb(0, 2, 95);
  text-decoration: none;
  margin-left: 10px;
}

nav.navigation button {
  background-color: rgb(0, 2, 95);
  border: 0 solid rgb(0, 2, 95);
  color: rgb(223, 223, 223);
  font-size: 19px;
  font-weight: bold;
  border: 1px solid rgb(223, 223, 223);
  width: 200px;
  box-shadow: 1px 1px 1px rgb(0, 2, 95);
}

nav.navigation button.buttonMenu {
  margin-left: 10px;
}

nav.navigation button.buttonLogin {
  background-color: rgb(0, 2, 95);
  border: 0.5px solid rgb(223, 223, 223);
  color: rgb(223, 223, 223);
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 10px;
  width: 200px;
}


nav.navigation div.nav {
  position: absolute;
  font-size: 17px;
  top: 7vh;
  right: 240px;
  background-color: rgb(0, 2, 95);
  width: 205px;
}

nav.navigation div.nav ul {
  list-style: none;
}

nav.navigation div.nav ul li {
  padding: 5px;
  display: block;
  text-align: center;
}

nav.navigation div.nav ul li a {

  color: rgb(223, 223, 223);
  text-decoration: none;

}

/* Button Profil */

nav.navigation div.profile {
  position: absolute;
  font-size: 17px;
  top: 7vh;
  right: 666px;
  background-color: rgb(0, 2, 95);
  width: 200px;
}

nav.navigation div.profile ul {
  list-style: none;
}

nav.navigation div.profile ul li {
  padding: 5px;
  display: block;
  text-align: center;
}

nav.navigation div.profile ul li a {

  color: rgb(223, 223, 223);
  text-decoration: none;

}

/* Main */



/* Home */

div.Article {
  position: relative;
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  margin-bottom: 15px;
  border: 1px solid rgb(0, 2, 95);
  background-color: rgba(0, 2, 95, 0.199);
  box-shadow: 1px 1px 1px rgb(0, 2, 95);
}

div.Article h2 {
  padding: 10px 0px 10px 25px;
  letter-spacing: 2.5px;
}

div.Article:nth-of-type(even) div.img {
  position: absolute;
  top: 2px;
  right: 15px;
}

div.Article:nth-of-type(even) h2 {
  padding: 10px 0px 10px 25px;

}

div.Article div.img {
  position: absolute;
  top: 2px;
  width: 300px;
  height: 300px;
  background-image: url("../images/newspaper-34126_640.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 0 10px;
}

div.Article h2 {
  margin: 10px;
}

div.Article p {
  display: block;
  width: 70%;
  padding-left: 20px;
  line-height: 26px;
}

div.Article:nth-of-type(odd) p {
  width: 70%;
  margin-left: 29%;
  padding-left: 0;
}

/* Page: Table */


div.Table h2 {
  text-align: center;
  margin-bottom: 50px;
}

div.Table div.ad {
  display: flex;
  width: 80%;
  height: 10vh;
  border: 1px solid rgb(0, 2, 95);
  margin: 10px auto;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(0, 2, 95, 0.199);
  box-shadow: 1px 1px 1px rgb(0, 2, 95);
}

div.Table div.ad:nth-of-type(1) div.logo {
  background-image: url("../images/logo_company1.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div.Table div.ad:nth-of-type(2) div.logo {
  background-image: url("../images/logo_company2.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div.Table div.ad:nth-of-type(3) div.logo {
  background-image: url("../images/logo_company3.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div.Table div.ad:nth-of-type(4) div.logo {
  background-image: url("../images/logo_company4.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div.Table div.ad h3 {
  padding-left: 20px;
}

/* Page: MyAccount */
div.account {
  margin: 0 auto;
  width: 60%;
  height: 80vh;
}

div.account h2 {
  text-align: center;
}

div.account div.acc {

  margin-top: 50px;
  position: relative;
  height: 60%;

}

div.account div.acc div.mySelf {
  position: absolute;
  background-image: url("../images/personalImage.jpg");
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid rgb(0, 2, 95);
  border-radius: 25px;
}

div.account div.acc div.data {
  padding-top: 20px;
  margin-left: 200px;
  margin-top: 70px;

}

div.account div.acc div.data p {
  margin-top: 10px;
  font-size: 20px;
  margin-right: 20px;
}

div.account div.acc div.data p span {
  padding-left: 10px;
  font-size: 25px;
  letter-spacing: 2.5px;
}


div.account div.acc button.mySelf {
  position: absolute;
  border-radius: 12px;
  background-color: rgba(0, 2, 95, 0.199);
  box-shadow: 1px 1px 1px rgb(0, 2, 95);
  border: 1px solid rgb(0, 2, 95);
  width: 80px;
  height: 25px;
  margin-left: 35px;
  bottom: 100px;
  right: 0;
}


/* EditProfile */

div.EditProfile {
  position: absolute;
  top: 150px;
  width: 60vw;
  height: 60vh;
  border-radius: 12px;
  background-color: rgb(0, 2, 95);
  box-shadow: 1px 1px 1px rgb(0, 2, 95);
  border: 1px solid rgb(0, 2, 95);
  z-index: 1;
}

/* Footer */

footer {
  height: 60px;
  background-color: rgb(0, 2, 95);
  color: rgb(212, 212, 212);
  text-align: center;
  line-height: 60px;
}