* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

main {
  height: 130vh;
  padding-top: 100px;
}

nav.navigation {
  width: 100%;
  height: 7vh;
  background-color: rgb(0, 2, 95);
  color: rgb(223, 223, 223);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

nav.navigation div.logo {
  position: absolute;
  height: 130px;
  width: 130px;
  background-image: url('../images/network.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 3px;
  left: 3px;
  background-color: #fff;
  border: 2px solid rgb(0, 2, 95);
}


nav.navigation button {
  background-color: rgb(0, 2, 95);
  border: 0 solid rgb(0, 2, 95);
  color: rgb(223, 223, 223);
  font-size: 19px;
  font-weight: bold;
  border: 1px solid rgb(223, 223, 223);
  width: 200px;
}

nav.navigation button.buttonMenu {
  margin-left: 10px;
}

nav.navigation button.buttonLogin {
  background-color: rgb(0, 2, 95);
  border: 0.5px solid rgb(223, 223, 223);
  color: rgb(223, 223, 223);
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
  margin-left: 10px;
  width: 200px;
}


nav.navigation div.nav {
  position: absolute;
  font-size: 17px;
  top: 7vh;
  right: 240px;
  background-color: rgb(0, 2, 95);
  width: 205px;
}

nav.navigation div.nav ul {
  list-style: none;
}

nav.navigation div.nav ul li {
  padding: 5px;
  display: block;
  text-align: center;
}

nav.navigation div.nav ul li a {

  color: rgb(223, 223, 223);
  text-decoration: none;

}

/* Button Profil */

nav.navigation div.profile {
  position: absolute;
  font-size: 17px;
  top: 7vh;
  right: 455px;
  background-color: rgb(0, 2, 95);
  width: 200px;
}

nav.navigation div.profile ul {
  list-style: none;
}

nav.navigation div.profile ul li {
  padding: 5px;
  display: block;
  text-align: center;
}

nav.navigation div.profile ul li a {

  color: rgb(223, 223, 223);
  text-decoration: none;

}

main {
  height: 86vh;
}






/* Footer */

footer {
  height: 60px;
  background-color: rgb(0, 2, 95);
}